{% extends 'mainapp/base.html' %}
    {% block title %}
        Bus Assignment
    {% endblock %}
    {% block content %}
        <h3>Bus Assignment</h3>
        <form method="post" action="/assignment/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    {{form.as_p}}
                    <button type="submit" name="save" class="btn btn-sm rounded-0 btn-primary">Save</button>
                </div>
            </div>
        </form>
    {% endblock %}